<div class="col-md-4 col-lg-3 mb-5 mb-md-0">
    <img src="images/image-2.png" alt="img" class="rounded-circle mb-4">
    <h2 class="text-uppercase">Alex smith</h2>
    <h3 class="h5 fw-normal designation mb-4">Web Developer, UI Designer</h3>
    <p class="mb-4">Hi! I’m Alex Smith.
        you come here for something in
        particular or just general Riker-bashing blowing into maximum</p>
    <ul class="list-inline social-icon mb-5">
        <li class="list-inline-item"><a href="#">
                <i class="fab fa-facebook-f icon-hover"></i>
                <i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#">
                <i class="fab fa-twitter icon-hover"></i>
                <i class="fab fa-twitter"></i></a>
        </li>
        <li class="list-inline-item"><a href="#">
                <i class="fab fa-linkedin icon-hover"></i>
                <i class="fab fa-linkedin"></i>
            </a></li>
        <li class="list-inline-item"><a href="#">
                <i class="fab fa-github icon-hover"></i>
                <i class="fab fa-github"></i>
            </a></li>
    </ul>
    <a href="#" class="btn btn-lg border mb-5">Send mail <i class="fas fa-arrow-right"></i></a>

    <h4 class="mb-4">categories</h4>

    <div class="categories-list">
        <ul id="cat-li">
            <li class="active"><span></span> javascript</li>
            <li><span></span> python</li>
            <li><span></span> html</li>
            <li><span></span> css4</li>
            <li><span></span> UI/UX Design</li>
        </ul>
    </div>
<!--     
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check1">
        <label class="form-check-label" for="check1">
            javascript
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            python
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check2">
        <label class="form-check-label" for="check2">
            javascript
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check3">
        <label class="form-check-label" for="check3">
            html
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check4">
        <label class="form-check-label" for="check4">
            css4
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            UI/UX Design
        </label>
    </div> -->

    <ul class="nav nav-pills flex-column my-5" id="menu">
        <li class="nav-item">
            <a href="index.html" class="@@home nav-link px-0">
                Home<i class="fas fa-arrow-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="archive.html" class="@@archive nav-link px-0">
                Archive<i class="fas fa-arrow-right"></i>
            </a>
        </li>
        <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="@@pages nav-link px-0 align-middle">
                <span>pages</span> <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="collapse submenu" id="submenu1" data-bs-parent="#menu">
                <li>
                    <a href="elements.html" class="@@elements nav-link px-0"> elements </a>
                </li>
                <li>
                    <a href="categories.html" class="@@categories nav-link px-0">categories</a>
                </li>
                <li>
                    <a href="blog-single.html" class="@@blog-single nav-link px-0">Blog Single</a>
                </li>
                <li>
                    <a href="404.html" class="@@error nav-link px-0">404</a>
                </li>
            </ul>
        </li>
    </ul>

    <p>Copyright: Designed by gethugothemes, developed by themefisher</p>
</div>